<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    
    <targets>
        <target 
            name="prod_logfile" 
            xsi:type="File" 
            fileName="../../../Logs/Prod/${shortdate}_log.txt"
            layout="${longdate} - ${level:uppercase=true}: ${message}"
        />
        <target
            name="debug_logfile"
            xsi:type="File"
            fileName="../../../Logs/Debug/${shortdate}_log.txt"
            layout="${longdate} - ${level:uppercase=true}: ${callsite} ${message}"
        />
    </targets>
    
    <rules>
        <logger name="Prod*" minlevel="info" writeTo="prod_logfile"/>
        <logger name="Debug*" minlevel="debug" writeTo="debug_logfile"/>
    </rules>
</nlog>